

<!-- Toolbar -->
<div class="toolbar" role="banner">
    <button mat-raised-button mat-cornered-button [matMenuTriggerFor]="clickmenu" class="">Enigmes</button>
    <mat-menu #clickmenu="matMenu">
      <button mat-menu-item *ngFor="let enigmeMonth of enigmesPerMonth"
        [class.selected]="enigmeMonth === selectedEnigmePerMonth" (click)="onSelect(enigmeMonth)"><span
          class="badge">{{enigmeMonth.id}}</span> {{enigmeMonth.month}} {{enigmeMonth.year}}</button>
    </mat-menu>

</div>

<div class="content containerEnigme" role="main">
  <!--
    ARRETES DE FOUINER PAR LA, VILAIN !!!
  -->
  <app-enigme [idEnigme]=selectedEnigmePerMonth?.id class="appEnigmeContainer"></app-enigme>
  
</div>




<router-outlet></router-outlet>